{% extends "base.html" %}
{% block content %}
    {% if user.is_staff %}
        <a href="{% url "add" %}"><button type="button" class="btn btn-primary mb-3">Ajouter un CR</button></a>
    {% endif %}
    {% if year_list %}
        {% for year in year_list %}
            <h5 class="mb-0"><a href="{% url "list_year" year.pk %}">Mandat {{ year.name }}</a></h5><span class="badge badge-pill badge-primary">{{ year.count_report }} compte{{ year.count_report | pluralize}}-rendu{{ year.count_report | pluralize}} disponible{{ year.count_report | pluralize}}</span>

            {% if type_list %}
                {% for type in type_list %}
                    <ul style="margin-bottom: 5px"><a href="{% url "list_type" year.pk type.pk %}">{{ type.name }}</a></ul>
                {% endfor %}
            {% else %}
                Pas de contenu à afficher
            {% endif %}
        {% endfor %}
    {% else %}
        Pas de contenu à afficher
    {% endif %}
{% endblock %}